#work{
    border:1px solid black;
    text-align: center;
    height: 40px;
    width: 50px;
}

h1{color: black;
    text-align: center;
    font-size: 90px;
    margin: 0 13.5% 0 12%;
    background-color: yellow;

}
table{margin: 0 12% 0 12%;}
.yellow{background-color:#fff18e}
.blue{background-color: #92c6f8;}
.purple{background-color: #ff9a66;}
.green{background-color: #c9ec7d;}
.pink{background-color: #e09edc;}
.lightyellow{background-color: #ecdca9;}
.brown{background-color: #cc9709;}
.lightred{background-color: #fbefef;}
.lightblue{background-color: #e4e7fa;}
.light{background-color: class="lightblue";}


    

    